# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
/.vs/AuthDemo
/obj/AuthDemo.csproj.nuget.dgspec.json
/obj/AuthDemo.csproj.nuget.g.props
/obj/AuthDemo.csproj.nuget.g.targets
/obj/project.assets.json
/obj/project.nuget.cache
/.vs/AuthDemo/CopilotIndices/17.12.38.29086/CodeChunks.db-shm
/.vs/AuthDemo/CopilotIndices/17.12.38.29086/SemanticSymbols.db
/.vs/AuthDemo/CopilotIndices/17.12.38.29086/SemanticSymbols.db-shm
/.vs/AuthDemo/CopilotIndices/17.12.38.29086/SemanticSymbols.db-wal
/.vs/AuthDemo/DesignTimeBuild/.dtbcache.v2
/.vs/AuthDemo/v17/.suo
/.vs/AuthDemo/v17/DocumentLayout.backup.json
/.vs/AuthDemo/v17/DocumentLayout.json
/.vs/ProjectEvaluation/authdemo.metadata.v9.bin
/.vs/ProjectEvaluation/authdemo.projects.v9.bin
/AuthDemo.API/bin/Debug/net8.0/AuthDemo.API.dll
/AuthDemo.API/bin/Debug/net8.0/AuthDemo.API.exe
/AuthDemo.API/bin/Debug/net8.0/AuthDemo.API.pdb
/AuthDemo.API/obj/Debug/net8.0/EndpointInfo/AuthDemo.API.json
/AuthDemo.API/obj/AuthDemo.API.csproj.nuget.g.props
/AuthDemo.API/obj/Debug/net8.0/ApiEndpoints.json
/AuthDemo.API/obj/Debug/net8.0/apphost.exe
/AuthDemo.API/obj/Debug/net8.0/AuthDemo.API.AssemblyInfo.cs
/AuthDemo.API/obj/Debug/net8.0/AuthDemo.API.AssemblyInfoInputs.cache
/AuthDemo.API/obj/Debug/net8.0/AuthDemo.API.csproj.CoreCompileInputs.cache
/AuthDemo.API/obj/Debug/net8.0/AuthDemo.API.csproj.FileListAbsolute.txt
/AuthDemo.API/obj/Debug/net8.0/AuthDemo.API.dll
/AuthDemo.API/obj/Debug/net8.0/AuthDemo.API.MvcApplicationPartsAssemblyInfo.cs
/AuthDemo.API/obj/Debug/net8.0/AuthDemo.API.pdb
/AuthDemo.API/obj/Debug/net8.0/refint/AuthDemo.API.dll
/AuthDemo.API/obj/Debug/net8.0/ref/AuthDemo.API.dll
